weights/
.lightning_studio/
__pycache__/
.idea/
.vscode/
.DS_Store
env.py
*.avi
recordings/
videos/
*_mdata/
presentation/
Logs/
_*
augmentation/
/bowmore_data
/augmentation_keypoints
/MP_Data
/combined_keypoints